/* Sur un baobab
 *
 * /sass/settings/_colors.scss - variables for colors
 *
 * coded by Anne
 * started at 26/04/2016
 */

$mainBgColor: #e9e2c6;
$bgButtons: #f39415;
$bgHeader: #ff9500;
$bgButtonsHover: #52853e;
$bgButtonsHoverImg: url("../../assets/img/mandala-button.png");
$footerBg: url("../../assets/img/footer-bg.png");

$laborTextColor: #2a2a2a;
$links: #ffffff;
$linksHover: #ffffff;

$active: #52853e;
$secondBg: #ecce9a;
