/* Sur un baobab
 *
 * /sass/base/_root.scss - Base styles for root element
 *
 * coded by Anne
 * started at 26/04/2016
 */


 body {
     width: 100%;
     background: $mainBgColor;
     font: normal 18px/1.5 $arimoStack;
     color: $laborTextColor;
 }
